<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Users: view all</title>
</head>
<body>
	<h1 layout:fragment="header">Users: View All</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
			<a class="btn btn-info" th:href="@{/user/create}">Create User</a>
		</div>
		<!-- <div th:text="${users}">empty</div> -->
		<table class="table table-borders table-striped">
			<thead>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>EMail</td>
					<td>Created</td>
					<td>Modified</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${users.empty}">
					<td colspan="5">No Users</td>
				</tr>
				<tr th:each="user : ${users}">
					<td><a th:href="@{'/user/view/' + ${user.id}}" th:text="${user.firstName}">username</a></td>
					<td th:text="${user.lastName}">Jan 12, 2020 10:10:10 PM AEDT</td>
					<td th:text="${user.email}">Jan 12, 2020 10:10:10 PM AEDT</td>
					<td th:text="${#temporals.format(user.creationTime, 'dd-MM-yyyy hh:mm a')}">Jan 12, 2020 10:10:10 PM AEDT</td>
					<td th:text="${#temporals.format(user.modifiedTime, 'dd-MM-yyyy hh:mm a')}">Jan 12, 2020 10:10:10 PM AEDT</td>
					<td><a class="glyphicon glyphicon-trash" th:href="@{'/user/delete/' + ${user.id}}"></a>
					<a class="glyphicon glyphicon-pencil" th:href="@{'/user/modify/' + ${user.id}}"></a></td>
					<!-- <div th:text="${user}">empty</div> -->
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>