<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Login Page</title>

</head>
<body>
	<h1 layout:fragment="header">SignUp Page</h1>
	<div layout:fragment="content" class="container">

		<form th:action="@{/forgotPassword}" method="post" th:object="${forgotPass}" class="form-horizontal">

			<div th:if="${error}" th:text="${error}" class="alert alert-danger">Invalid UserName and Password</div>

			<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Invalid UserName and Password</div>

			<div th:if="${globalMessage}" th:text="${globalMessage}" class="alert alert-success">Invalid UserName and Password</div>

			<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
				<label class="control-label col-xs-2" for="email"> Email: </label>
				<div class="col-xs-4">
					<input type="text" th:field="*{email}" placeholder="someone@somewhere.com" class="form-control" required="required" />
				</div>
			</div>

			<div class="form-group" th:classappend="${#fields.hasErrors('dateOfBirth')} ? 'has-error'">
				<label class="control-label col-xs-2" for="dateOfBirth"> Date of Birth: </label>
				<div class="col-xs-2">
					<input type="date" th:field="*{dateOfBirth}" class="form-control" required="required" />
				</div>
			</div>

			<div class="form-actions col-xs-offset-2 col-xs-10">
				<input type="submit" class="btn btn-primary" value="Send" />
			</div>

		</form>
	</div>
</body>
</html>